<h1>New Blog Entry</h1>

<%= form_for([:admin, @blog_entry], :html => { :multipart => true }) do |f| %>
  <%= render :partial => f %>
  <p class="form-buttons" data-hook="buttons">
    <%= button t(:create) %>
  </p>
<% end %>
