<ul class="tag_cloud">
  <% tag_cloud(Spree::BlogEntry.tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <li><%= link_to tag.name, tag_path(tag.name), :class => css_class %></li>
  <% end %>
</ul>
