<div class="row">
  <aside id="sidebar" class="columns four" data-hook>
    <%= render :partial => 'spree/blog_entries/sidebar_index' %>
  </aside>

  <%= render :partial => 'spree/blog_entries/blog_entries' %>
</div>
